[submodule "components/picoros"]
	path = components/picoros
	url = https://github.com/Pico-ROS/picoros-espidf-component
[submodule "components/vl53l0x"]
	path = components/vl53l0x
	url = https://github.com/iobewi/ESP-IDF_VL53L0X